<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings>
    <add key="CookieName" value="SearchSettings" />
    <add key="HostName" value="192.168.1.102" />
    <add key="PortNum" value="3312" />
    <add key="土地利用规划" value="IndexView_Monitoring_PM" />
    <add key="地籍权属" value="IndexView_Monitoring_LI" />
    <add key="耕地保护" value="IndexView_Monitoring_HCOV" />
    <add key="土地利用" value="Recource_PCL_SQB" />
    <add key="执法监察" value="IndexView_Monitoring_RSSPI" />
    <add key="整理开发复垦" value="Recource_LA_PZSQB" />
    <add key="法律法规" value="Recource_LA_PCXXB" />
    <add key="综合办公" value="Recource_LS_JYDPZSSQB" />
    <add key="依法行政处罚" value="IndexView_Monitoring_HCOV{http://192.168.1.254:81/DLDNN/DesktopModules/Monitoring/PUNISH/htm1/CXTJXX.aspx}[ProjectID:ItemID]" />
    <add key="土地巡查" value="IndexView_Monitoring_LI{http://192.168.1.254:81/DLDNN/DesktopModules/Monitoring/INSPECT/htm/CXTJXX.aspx}[ProjectID:ItemID]" />
    <add key="信访办理" value="IndexView_Monitoring_PM{http://192.168.1.254:81/DLDNN/DesktopModules/Monitoring/PETITION/htm/CXTJXX.aspx}[ProjectID:ItemID]" />
    <add key="卫片核查" value="IndexView_Monitoring_RSSPI{http://192.168.1.254:81/DLDNN/DesktopModules/Cadastral_RSSPI/WPHCHtml.aspx}[ProjectID:ProjectItemID][TBH:JCTBH]" />
    <add key="建设项目用地预审" value="Recource_PCL_SQB" />
    <add key="农转用土地征收-项目" value="Recource_LA_PZSQB" />
    <add key="农转用土地征收-批次" value="Recource_LA_PCXXB" />
    <add key="核发建设用地批准书" value="Recource_LS_JYDPZSSQB" />
    <add key="国有土地使用权协议出让" value="Market_Search_CR_View" />
    <add key="国有土地使用权公开出让" value="Market_Search_JYZX_View" />
    <add key="国有土地使用权转让" value="Market_Search_ZR_View" />
    <add key="国有土地使用权租赁" value="Market_Search_ZL_View" />
    <add key="国有土地使用权变更" value="Market_Search_BG_View" />
    <add key="闲置土地处置" value="Market_Search_XZTD_View" />
    <add key="地籍调查前置" value="Cadastral_PCS_DCQZCG" />
  </appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<authorization>
   <allow users="?" />
  </authorization>
  <compilation defaultLanguage="C#"  debug="true">
			<assemblies>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
  <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
