<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DongliBusiness_SiteSqlServer" connectionString="Data Source=192.168.1.254;Initial Catalog=DongliBusiness;User ID=sa;Password=suntop" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>