<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings>
  <add key="CookieName" value="SearchSettings" />
  <add key="HostName" value="192.168.1.102" />
  <add key="PortNum" value="3312" />
  <add key="依法行政处罚" value="IndexView_Monitoring_HCOV{http://192.168.1.254:81/DLDNN/DesktopModules/Monitoring/PUNISH/htm1/CXTJXX.aspx}[ProjectID:ItemID]" />
  <add key="土地巡查" value="IndexView_Monitoring_LI{http://192.168.1.254:81/DLDNN/DesktopModules/Monitoring/INSPECT/htm/CXTJXX.aspx}[ProjectID:ItemID]" />
  <add key="信访办理" value="IndexView_Monitoring_PM{http://192.168.1.254:81/DLDNN/DesktopModules/Monitoring/PETITION/htm/CXTJXX.aspx}[ProjectID:ItemID]" />
  <add key="卫片核查" value="IndexView_Monitoring_RSSPI{http://192.168.1.254:81/DLDNN/DesktopModules/AssistantDecision/Serializer/Cadastral_WPHC.aspx}[ProjectID:ProjectItemID][TBH:JCTBH]" />
  <add key="建设项目用地预审" value="Recource_PCL_SQB{http://192.168.1.254:81/DLDNN/DesktopModules/ResourcePCL/Html/SQB.aspx}[ProjectID:ItemID]" />
  <add key="农转用土地征收-项目" value="Recource_LA_PZSQB{http://192.168.1.254:81/DLDNN/DesktopModules/ResourceLA/Html/SQB.aspx}[ProjectID:ItemID]" />
  <add key="农转用土地征收-批次" value="Recource_LA_PCXXB{http://192.168.1.254:81/DLDNN/DesktopModules/ResourceLA/Html/SQB.aspx}[ProjectID:ItemID]" />
  <add key="核发建设用地批准书" value="Recource_LS_JYDPZSSQB" />
  <add key="国有土地使用权协议出让" value="Market_Search_CR_View{http://192.168.1.254:81/DLDNN/DesktopModules/Market/XYCR/Html/YWSL.aspx}[ProjectID:ItemID]" />
  <add key="国有土地使用权公开出让" value="Market_Search_JYZX_View{http://192.168.1.254:81/DLDNN/DesktopModules/Market/GKCR/Html/ZHInfo.aspx}[ProjectID:ItemID]" />
  <add key="国有土地使用权转让" value="Market_Search_ZR_View{http://192.168.1.254:81/DLDNN/DesktopModules/Market/ZR/Html/SL.aspx}[ProjectID:ItemID]" />
  <add key="国有土地使用权租赁" value="Market_Search_ZL_View{http://192.168.1.254:81/DLDNN/DesktopModules/Market/ZL/Html/YWSL.aspx}[ProjectID:ItemID]" />
  <add key="国有土地使用权变更" value="Market_Search_BG_View{http://192.168.1.254:81/DLDNN/DesktopModules/Market/BG/Html/SL.aspx}[ProjectID:ItemID]" />
  <add key="闲置土地处置" value="Market_Search_XZTD_View{http://192.168.1.254:81/DLDNN/DesktopModules/Market/XZTD/Html/SL.aspx}[ProjectID:ItemID]" />
  <add key="地籍调查前置" value="Cadastral_PCS_DCQZCG{http://192.168.1.254:81/DLDNN/DesktopModules/CadastralPCS/Control/ViewFLMJ.aspx}[ProjectID:ItemID]" />
  <add key="确权登记" value="IndexView_Cadastral{http://192.168.1.254:81/DLDNN/DesktopModules/AssistantDecision/Serializer/Cadastral_TDDJMX.aspx}[ZDID:ZDID][QLRID:QLRID][ZDQLRID:ZDQLRID]" />
  <add key="权属争议调查处理" value="IndexView_Cadastral_IOD{http://192.168.1.254:81/DLDNN/DesktopModules/Cadastral_IOD/XLH/CXTJXX.aspx}[ProjectID:ItemID]" />
  <add key="黄土资源" value="IndexView_OfficeManage_HT{http://192.168.1.254:81/DLDNN/DesktopModules/HT/htm/CXTJXX.aspx}[ProjectID:ItemID]" />
  <add key="电子文档" value="{http://192.168.1.254:81/zlgl/files/}{T:\津国土房东丽}" />
  <add key="CSS_QueryPage" value="http://192.168.1.254:81/dldnn/css/QueryPage.css" />
  <add key="CSS_ResourceStyle" value="http://192.168.1.254:81/dldnn/css/ResourceStyle.css" />
  <add key="DOC" value="DOC/Microsoft Word" />
  <add key="XLS" value="XLS/Microsoft Excel" />
  <add key="PDF" value="PDF/Adobe Acrobat" />
  <add key="PPT" value="PPT/Microsoft Powerpoint" />
  <add key="JPG" value="JPG/图片压缩格式" />
  <add key="BMP" value="BMP/位图" />
  <add key="DIB" value="DIB/位图" />
  <add key="PNG" value="PNG/图像文件存储格式" />
  <add key="GIF" value="GIF/图像互换格式" />
  <add key="DWG" value="DWG/AutoCAD 图形" />
 </appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<authorization>
   <allow users="?" />
  </authorization>
  <compilation defaultLanguage="C#"  debug="true">
			<assemblies>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
  <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
