<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings>
  <add key="CookieName" value="SearchSettings" />
  <add key="HostName" value="192.168.1.102" />
  <add key="PortNum" value="3312" />
    <add key="依法行政处罚" value="IndexView_Monitoring_HCOV{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e4%be%9d%e6%b3%95%e8%a1%8c%e6%94%bf%e5%a4%84%e7%bd%9a}[ProjectID:ItemID]" />
    <add key="土地巡查" value="IndexView_Monitoring_LI{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e5%9c%9f%e5%9c%b0%e5%b7%a1%e6%9f%a5%e6%97%a5%e5%bf%97}[ProjectID:ItemID]" />
    <add key="信访办理" value="IndexView_Monitoring_PM{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e4%bf%a1%e8%ae%bf%e8%bd%ac%e5%8a%9e}[ProjectID:ItemID]" />
    <add key="遥感卫片监测调查" value="IndexView_Monitoring_RSSPI{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e9%81%a5%e6%84%9f%e5%8d%ab%e7%89%87%e7%9b%91%e6%b5%8b%e8%b0%83%e6%9f%a5}[ProjectID:ItemID]" />
    <add key="建设项目用地预审" value="Recource_PCL_SQB{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e5%bb%ba%e8%ae%be%e7%94%a8%e5%9c%b0%e9%a2%84%e5%ae%a1}[ProjectID:ItemID]" />
    <add key="农转用土地征收-项目" value="Recource_LA_PZSQB{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e5%86%9c%e8%bd%ac%e7%94%a8%e5%9c%9f%e5%9c%b0%e5%be%81%e6%94%b6}[ProjectID:ItemID]" />
    <add key="农转用土地征收-批次" value="Recource_LA_PCXXB{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e5%86%9c%e8%bd%ac%e7%94%a8%e5%9c%9f%e5%9c%b0%e5%be%81%e6%94%b6}[ProjectID:ItemID]" />
    <add key="核发建设用地批准书" value="Recource_LS_JYDPZSSQB{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e6%a0%b8%e5%8f%91%e5%bb%ba%e8%ae%be%e7%94%a8%e5%9c%b0%e6%89%b9%e5%87%86%e4%b9%a6}[ProjectID:ItemID]" />
    <add key="国有土地使用权协议出让" value="Market_Search_CR_View{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e5%9b%bd%e6%9c%89%e5%9c%9f%e5%9c%b0%e4%bd%bf%e7%94%a8%e6%9d%83%e5%8d%8f%e8%ae%ae%e5%87%ba%e8%ae%a9}[ProjectID:ProjectID]" />
    <add key="国有土地使用权公开出让" value="Market_Search_JYZX_View{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e5%9b%bd%e6%9c%89%e5%9c%9f%e5%9c%b0%e4%bd%bf%e7%94%a8%e6%9d%83%e5%85%ac%e5%bc%80%e5%87%ba%e8%ae%a9}[ProjectID:ProjectID]" />
    <add key="国有土地使用权转让" value="Market_Search_ZR_View{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e5%9b%bd%e6%9c%89%e5%9c%9f%e5%9c%b0%e4%bd%bf%e7%94%a8%e6%9d%83%e8%bd%ac%e8%ae%a9}[ProjectID:ProjectID]" />
    <add key="国有土地使用权租赁" value="Market_Search_ZL_View{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e5%9b%bd%e6%9c%89%e5%9c%9f%e5%9c%b0%e4%bd%bf%e7%94%a8%e6%9d%83%e7%a7%9f%e8%b5%81}[ProjectID:ProjectID]" />
    <add key="国有土地使用权变更" value="Market_Search_BG_View{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e5%9b%bd%e6%9c%89%e5%9c%9f%e5%9c%b0%e4%bd%bf%e7%94%a8%e6%9d%83%e5%8f%98%e6%9b%b4}[ProjectID:ProjectID]" />
    <add key="闲置土地处置" value="Market_Search_XZTD_View{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e9%97%b2%e7%bd%ae%e5%9c%9f%e5%9c%b0%e5%a4%84%e7%bd%ae}[ProjectID:ProjectID]" />
    <add key="地籍调查前置" value="Cadastral_PCS_DCQZCG{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e5%9c%b0%e7%b1%8d%e8%b0%83%e6%9f%a5%e5%89%8d%e7%bd%ae}[ProjectID:ItemID]" />
    <add key="确权登记" value="IndexView_Cadastral{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e7%a1%ae%e6%9d%83%e7%99%bb%e8%ae%b0}[ProjectID:ZDQLRID]" />
    <add key="权属争议调查处理" value="IndexView_Cadastral_IOD{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e6%9d%83%e5%b1%9e%e4%ba%89%e8%ae%ae%e8%b0%83%e6%9f%a5%e5%a4%84%e7%90%86}[ProjectID:ItemID]" />
    <add key="黄土资源" value="IndexView_OfficeManage_HT{http://192.168.1.254:81/dldnn/DesktopModules/Serializer/Business.aspx?BusinessName=%e8%bf%9d%e6%b3%95%e5%8f%96%e5%9c%9f}[ProjectID:ItemID]" />
    <add key="电子文档" value="{http://192.168.1.254:81/zlgl/files/}{T:\津国土房东丽}" />
  <add key="CSS_QueryPage" value="http://192.168.1.254:81/dldnn/css/QueryPage.css" />
  <add key="CSS_ResourceStyle" value="http://192.168.1.254:81/dldnn/css/ResourceStyle.css" />
  <add key="DOC" value="DOC/Microsoft Word" />
  <add key="XLS" value="XLS/Microsoft Excel" />
  <add key="PDF" value="PDF/Adobe Acrobat" />
  <add key="PPT" value="PPT/Microsoft Powerpoint" />
  <add key="JPG" value="JPG/图片压缩格式" />
  <add key="BMP" value="BMP/位图" />
  <add key="DIB" value="DIB/位图" />
  <add key="PNG" value="PNG/图像文件存储格式" />
  <add key="GIF" value="GIF/图像互换格式" />
  <add key="DWG" value="DWG/AutoCAD 图形" />
  <add key="MapPath" value="http://192.168.1.254:81/mapguide/dotnetviewersample/GraphViewer.aspx"/>
  <add key="MapPath_WP" value="http://192.168.1.254:81/mapguide/dotnetviewersample/WPHCViewer.aspx?TCMC=WPHC9"/>
 </appSettings>
  <connectionStrings>
    <add name="DongliBusiness_SiteSqlServer" connectionString="Data Source=192.168.1.254;Initial Catalog=DongliBusiness;User ID=sa;Password=suntop" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<authorization>
   <allow users="?" />
  </authorization>
  <compilation defaultLanguage="C#"  debug="true">
			<assemblies>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
  <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
